* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 200px;
}

.homepage {
	width: 100%;
	margin: 0 auto;
}

header {
	height: 400px;
}

.headerLine {
	height: 0px;
	width: 95%;
	padding: 15px 0 0 0;
	margin: 0 0 30px;
}

.headerLine span a {
	color: #800000;
	display: block;
	margin: 0 90%;
	font-family: 'Exo', sans-serif;
}

.languageLine {
	margin-left: 85.5%
}

.search {
	height: 50px;
	width: 95%;
	padding: 15px 0 0 0;
	margin: 0 0 30px;
}

.messagesTable {
	width: 100%;
}

.search span {
	display: block;
	margin: 0 90%;
	font-family: 'Exo', sans-serif;
}

table {
	width: 100%;
	margin-bottom: 20px;
}

.button {
	margin-bottom: 20px;
}

a.logo {
	display: block;
	width: 180px;
	height: 101px;
	background: url(../images/csc.png) no-repeat 0 0;
	float: left;
	margin: 10px 0 0 100px;
}

.slogan {
	width: 500px;
	height: 100px;
}

.slogan span {
	font-size: 20px;
	line-height: 0px;
	font-family: 'Exo', sans-serif;
	margin: 0 0 40px 10%;
	display: block;
}

.nav {
	width: 100%;
	height: 70px;
	margin: 0 0 10px 0;
	list-style: none;
	float: left;
	position: relative;
	z-index: 5;
}

.nav li {
	float: left;
	list-style: none;
	background: #FFA07A;
	border: 1px solid #FFF0F5;
	position: relative;
}

.nav a {
	font-family: 'Abril Fatface', cursive;
	display: block;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 18px;
	padding: 30px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a:hover {
	background: #800000;
}

.nav li.selected {
	width: 350px;
}

.nav ul {
	background-color: #fff;
	background: rgba(255, 255, 255, 0);
	list-style: none;
	position: absolute;
	left: -9999px;
}

.nav ul li {
	padding-top: 1px;
	float: none;
}

.nav ul a {
	white-space: nowrap;
}

.nav li:hover ul {
	left: 0;
}

.nav li:hover a {
	background-color: #800000;
}

.nav li:hover ul a {
	text-decoration: none;
}

.nav li:hover ul li a:hover {
	background-color: #FFA07A;
}

.firstColumn {
	width: 32%;
	padding: 30px 20px 15px 0;
	float: left;
}

.firstColumn span {
	display: block;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
}

.secondColumn {
	width: 32%;
	padding: 30px 10px 30px 0;
	float: left;
}

.secondColumn span {
	display: block;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
}

.thirdColumn {
	width: 32%;
	padding: 30px 10px 30px 0;
	float: left;
	margin-left: 10px;
}

.thirdColumn span {
	display: block;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
}

.footerLine {
	bottom: 0;
	height: 25px;
	width: 100%;
	float: left;
	text-align: center;
	overflow: hidden;
}

.copyright {
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
}